In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv('Collage_Dataset.csv')
dataset.head(3)

   CGPA  Package (LPA)
0  6.87          12.88
1  9.75          20.36
2  8.66          17.01