## Confusion Maxtrix

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv("placement.csv")
dataset.head(3)

   cgpa  score  Placed
0  6.87     67       0
1  9.75     75       1
2  8.66     93       1

In [4]:
x = dataset.iloc[:, :-1]
y = dataset["Placed"]