In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score

In [2]:
dataset = pd.read_csv('data.csv')
dataset.head(3)

   Age  Estimated Salary  Purchase
0   56             55920         0
1   46            112067         0
2   32             87121         0

In [4]:
x = dataset.iloc[:,:-1]
y = dataset["Purchase"]